body{
    background-color: red;
}
.main{
    display:flexbox;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    color: black;
    margin-top: 300px;
    font-size: 150px;
    margin-left:400px;
    font-weight: 200;
    margin-bottom: 300px;
    font-family:times new roman;
    text-shadow:4px 4px white;
    padding-top:40px;
}
