body{
    background-color: red;
}
.main{
    display:flex;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    color: white;
    margin-top: 300px;
    font-size: 150px;
    margin-left:400px;
    font-weight: 200;
    margin-bottom: 300px;
    font-family:times new roman;
    text-shadow:2px 5px 10px;
    padding:12px;

}
